.common__section {
  background: linear-gradient(rgb(0, 13, 107, 0.6), rgb(0, 13, 107, 0.6)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}

.btnEdit{
  margin-right: 15px !important;
  margin-left: 5px !important;
}

.pointer:hover{
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* For Pagination */
.react-bs-table-no-data{
  text-align: center !important;
}

.react-bootstrap-table-page-btns-ul{
  float: right !important;
}

.active>.page-link{
  background-color: #212529 !important;
  border-color: none !important;
  color:#fff !important;
}

.page-link{
  color: gray !important;
}

.pagination{
  --bs-pagination-active-border-color:none !important;
  --bs-pagination-color:none !important;
  --bs-pagination-hover-color:none !important;
  --bs-pagination-focus-color:none !important;
  --bs-pagination-active-bg:none !important;
}